.table{
    width: 50%;
}

/* .table-row{
    background-color: #ecf1f6;
} */

/*  
.table-description{
    display: inline-block;
}

.table-btn{
    width: 10%;
} */

.tombola{
    position: fixed;
    top:50;
    right: 50;
}

.custom-btn{
    width: 200px;
}